<footer>
  <span>M▌ <span id="sig-display">[SIG: ███░ 61%]</span></span>
  <span class="sep">|</span>
  <span>[SYS: <span id="sys-display" class=""> OK</span>]</span>
  <span class="sep">|</span>
  <span>{{ site.author }} // UTC+1</span>
</footer>