<footer>
  <div class="site-footer">
    <span class="M">M▌</span>
    <span class="currentYear">{{ currentYear }}</span>
    <span class="sep">~</span>
    <a href="https://cara.app/mdohr07" target="_blank">Cara</a>
    <span class="sep"> · </span>
    <a href="https://misteldohr.itch.io/" target="_blank">itch.io</a>
    <span class="sep"> · </span>
    <a href="https://github.com/mdohr07" target="_blank">GitHub</a>
  </div>
</footer>