<header>
  <span class="site-title">
    <a href="/">{{ site.title }}</a>
    <span class="header-sub">v1.0// ■ ONLINE //
      <span class="flicker2">sector unknown</span></span>
  </span>
  <div class="theme-switcher header-sub">

    <span>
    > CLR:
    </span>
    <button onclick="setTheme('default')">[0]</button>
    <button onclick="setTheme('theme-white')">[1]</button>
    <button onclick="setTheme('theme-green')">[2]</button>
  </div>
</header>