<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} // {{ site.title }}</title>
  <link rel="stylesheet" href="/css/style.css">
  <link rel="icon" type="image/svg+xml" href="/favicon.svg">

    <!-- Open Graph -->
  <meta property="og:title" content="{{ title }} // {{ site.title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:type" content="article">
  {% if image and image.url %}
    <meta property="og:image" content="{{ image.url }}">
    <meta property="og:image:alt" content="{{ image.alt }}">
  {% else %}
    <meta property="og:image" content="{{ site.defaultImage }}">
  {% endif %}

  <!-- Twitter/X Card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="{{ title }} // {{ site.title }}">
  <meta name="twitter:description" content="{{ description }}">
  {% if image and image.url %}
    <meta name="twitter:image" content="{{ image.url }}">
  {% endif %}
</head>
<body>
  <div class="site-wrapper">
    {% include "components/header.njk" %}
    <main>{{ content | safe }}</main>
    {% include "components/footer.njk" %}
  </div>
</body>
</html>