<!DOCTYPE html>
<html lang="de">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }} // {{ site.title }}</title>
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
  <div class="site-wrapper">
    {% include "components/header.njk" %}
    <main>{{ content | safe }}</main>
    {% include "components/footer.njk" %}
  </div>
</body>
</html>